.about-container {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  height: auto;
  display: block;
  text-align: center;
  background-color: #aa4a44;
  color: #fff;
}

.about-container > img {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 40px;
}

.about-container > p {
  line-height: 1.5;
  text-align: left;
  padding-left: 25%;
  padding-right: 25%;
}

.about-resume-container {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 30px;
}

.about-resume-container > a {
  display: block;
  width: 200px;
  height: auto;
  background-color: #303030;
  color: #fff;
  padding: 15px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 auto;
  transition: 0.3s;
}

.about-resume-container > a:hover {
  background-color: #3a3a3a;
  transition: 0.3s;
}

.about-resume-container > a > p {
  display: inline-block;
  margin-right: 10px;
}

@media screen and (max-width: 600px) {
  .about-container > p {
    padding-left: 10%;
    padding-right: 10%;
  }
}
