.about-container {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  height: auto;
  display: block;
  text-align: center;
  background-color: #98d0fa;
  color: #fff;
}

.about-container > h3 {
  font-size: 24px;
  margin-bottom: 30px;
}

.about-container > img {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 40px;
}

.about-container > p {
  line-height: 1.5;
  text-align: left;
  padding-left: 30%;
  padding-right: 30%;
}
