.banner-container {
  width: 100%;
  height: 100vh;
  display: block;
  color: #fff;
}

.background-wrapper {
  width: 100%;
  height: 100%;
}

.background-cover {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #333333;
  opacity: 0.8;
}

.banner-details {
  position: absolute;
  width: auto;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.banner-details > h1 {
  font-size: 90px;
}

.banner-details > h2 {
  margin-top: 20px;
  font-size: 30px;
}

.scroll-button-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.fa-angle-down {
  font-size: 32px;
  cursor: pointer;
  padding: 10px;
  transition: 0.3s;
}

.fa-angle-down:hover {
  color: #a3a3a3;
  transition: 0.3s;
}

.background-wrapper > img {
  width: 100%;
  height: 100%;
}
