.contact-container {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  height: auto;
  background-color: #333333;
  text-align: center;
  color: #fff;
}

.contact-row-container {
  display: block;
  width: 500px;
  height: auto;
  margin: 0 auto;
}

.contact-row-container > div {
  width: 50%;
  display: inline-block;
}

.email-container {
  display: block;
  margin-bottom: 50px;
}

.email-container > i {
  font-size: 40px;
}

.email-container > p {
  margin-top: 10px;
  display: block;
}

.linkedin-container > img {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.linkedin-container > a {
  color: #fff;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  transition: 0.2s;
}

.linkedin-container > a:hover {
  color: #a3a3a3;
  transition: 0.2s;
}

@media screen and (max-width: 600px) {
  .contact-row-container {
    width: 100%;
  }

  .contact-row-container > div {
    width: 100%;
    display: block;
  }
}
