.experience-container {
  padding-top: 100px;
  padding-bottom: 100px;
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #2A6050;
  color: #fff;
}

.experience-content-container {
  position: relative;
  display: block;
  width: 800px;
  height: auto;
  margin: 0 auto;
  font-size: 18px;
}

.vertical {
  border-left: 3px solid #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
}

.experience-box {
  position: relative;
  left: 0%;
  display: block;
  width: 350px;
  height: auto;
  border: 2px solid #000;
  margin-bottom: 20px;
  background-color: #fff;
  padding-bottom: 10px;
}

.experience-box:nth-child(odd) {
  left: 57%;
}

.experience-box>img {
  display: block;
  width: 100%;
  height: 200px;
  border-bottom: 2px solid #000;
}

.experience-box>h4 {
  font-size: 24px;
  margin-top: 22px;
  color: #000;
}

.experience-box>ul {
  padding: 10px 0 10px 0;
  color: #000;
}

.experience-box>ul>li {
  text-align: left;
  padding: 10px 0px 10px 25px;
  display: block;
}

.experience-box>ul>li>i {
  margin-right: 10px;
}

.experience-box>button {
  display: block;
  padding: 10px;
  margin: 0 auto;
  cursor: pointer;
  font-size: 14px;
  background-color: #2A6050;
  color: #fff;
  border: none;
  border-radius: 10px;
  transition: 0.3s;
}

.experience-box>button:hover {
  background-color: #397562;
  transition: 0.3s;
}

.responsibilities-list>ul {
  margin: 10px 0 0 20px;
}

.responsibilities-list>ul>li>i {
  margin-right: 10px;
}

@media screen and (max-width: 900px) {
  .experience-content-container {
    width: 100%;
  }

  .experience-box {
    left: 0%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .experience-box:nth-child(odd) {
    left: 0%;
  }
}