.mobile-navbar-container {
  display: block;
}

.mobile-navbar-content-container {
  display: block;
  background-color: #303030;
}

.navbar-hamburger-burger-container {
  position: relative;
  top: 0px;
  width: 100%;
  height: auto;
  display: none;
  text-align: right;
}

.mobile-navbar-hamburger-button-container {
  text-align: right;
  padding: 20px;
  font-size: 28px;
  color: #fff;
  display: none;
}

.mobile-navbar-hamburger-button-container > i {
  padding: 10px;
  cursor: pointer;
}

.mobile-navbar-exit-button-container {
  position: relative;
  top: 0px;
  width: 100%;
  height: auto;
  text-align: right;
}

.mobile-navbar-exit-button-container > i {
  padding: 20px;
  font-size: 28px;
  cursor: pointer;
  color: #c87a75;
  transition: 0.3s;
}

.mobile-navbar-list {
  justify-content: center;
  display: block;
}

.mobile-navbar-link {
  display: block;
}

.mobile-navbar-link > li {
  padding: 20px;
  cursor: pointer;
  display: block;
}

.mobile-navbar-link > li:hover {
  background-color: #3a3a3a;
}
