.navbar-container {
  width: 100%;
  display: block;
  height: auto;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: #303030;
}

.navbar-hamburger-burger-container {
  position: relative;
  top: 0px;
  width: 100%;
  height: auto;
  display: none;
  text-align: right;
}

.navbar-hamburger-button-container {
  text-align: right;
  padding: 20px;
  font-size: 28px;
  color: #fff;
  display: none;
}

.navbar-hamburger-button-container > i {
  padding: 10px;
  cursor: pointer;
}

.navbar-exit-button-container {
  position: relative;
  top: 0px;
  width: 100%;
  height: auto;
  display: none;
  text-align: right;
}

.navbar-exit-button-container > i {
  padding: 20px;
  font-size: 28px;
  cursor: pointer;
  color: #c87a75;
  transition: 0.3s;
}

.navbar-list {
  justify-content: center;
  display: flex;
}

.navbar-link > li {
  padding: 20px;
  cursor: pointer;
}

.navbar-link > li:hover {
  background-color: #3a3a3a;
}

.navbar-link > li > a {
  display: block;
  color: #fff;
  text-transform: uppercase;
}

.active {
  background-color: #3a3a3a;
}

@media screen and (max-width: 600px) {
  .navbar-exit-button-container {
    display: block;
  }

  .navbar-list {
    display: block;
  }

  .navbar-link > li {
    display: block;
  }
}
