.project-details-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 9999999;
  color: #000;
  text-align: center;
}

.project-details-background {
  position: absolute;
  top: 0;
  margin: 0;
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.current-project {
  background-color: #fff;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding-bottom: 20px;
}

.current-project > img {
  display: block;
  width: 600px;
  height: 300px;
}

.current-project > h4 {
  margin-top: 20px;
  font-size: 24px;
}

.current-project > p {
  font-size: 16px;
  margin-top: 15px;
}

.current-project > span {
  display: block;
  padding: 10px;
  color: #fff;
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 15px;
}

.fa-close {
  padding: 10px;
  font-size: 18px;
  display: block;
  text-align: right;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .current-project {
    width: 100%;
    height: 100%;
  }
}
